@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --left-bg-color: rgba(175, 245, 218, 0.3);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(175, 245, 218, 1); 
  --right-btn-hover-color: rgba(43, 43, 43, 1); 
  --hover-width: 80%;
  --other-width: 20%;
  --speed: 1000ms;
}

* {
  box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
  color: #fff;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  width: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.5rem;
}

.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
  color: darkorange;
}

.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url('https://res.cloudinary.com/fissama/image/upload/v1623255933/50projects50days/1440x900_2_unepa2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url('https://res.cloudinary.com/fissama/image/upload/v1623255933/50projects50days/1440x900_4_uq1kt3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.left, 
.split.right, 
.split.left::before, 
.split.right::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .btn {
    padding: 1.2rem;
    width: 10rem;
  }
}